.day {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.time {
    font-family: 'Orbitron', sans-serif;
}